DB_URL=postgresql://username:password@host/deathtrap?sslmode=require
DB_USERNAME=your_neon_username
DB_PASSWORD=your_neon_password
JWT_SECRET=change_this_to_a_secure_random_256bit_hex_string
ENVIRONMENT=local
LOG_LEVEL=DEBUG
AWS_REGION=ap-south-1
# The following are not used locally — only in AWS Lambda
# S3_BUCKET_NAME=
# SQS_TRIGGER_URL=
# SNS_NOTIFY_ARN=
# KMS_KEY_ID=
# DB_SECRET_ARN=
